<div class="footer">
    <ul class="list-inline">
          <li><i class="footer-icon fa fa-2x fa-facebook"></i></li>
         <li><i class="footer-icon fa fa-2x fa-twitter"></i></li>
          <li><i class="footer-icon fa fa-2x fa-linkedin"></i></li>
         </ul>
         <p>This is a Airbnb Home challenge @ LeWagon</p>
     </div>
