<ul class="list-inline text-center">
  <% ["vivek", "harsha", "brotime"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle avatar-large" %>
      <h3><%= member.capitalize %></h3>
      <a href= "mailto:contact@apmigo.com"></a>
    </li>
  <% end %>
</ul>
